
@{
    ViewBag.Title = "Index";
}

<h2>SearchBook</h2>
<body>
    <div class="form-horizontal">

        <div class="form-group"style="margin-bottom:20px;margin-top:20px">
           <label class="col-md-2 control-label">書籍名稱</label>
            <div class="col-md-10">
                <input id="book_name" class="form-control"/>
            </div>
        </div>

        <div class="form-group"style="margin-bottom:20px">

            <label class="col-md-2 control-label">書籍類別</label>
            <div class="col-md-10">
                <select id="book_class" class=" form-control"></select>
            </div>
        </div>

        <div class="form-group"style="margin-bottom:20px">

            <label class="col-md-2 control-label">借閱人</label>
            <div class="col-md-10">
                <select id="book_keeper" class="form-control"></select>
            </div>
        </div>

        <div class="form-group"style="margin-bottom:20px">
            <label class="col-md-2 control-label">書籍狀態</label>
            <div class="col-md-10">
                <select id="book_status" class="form-control"></select>
            </div>
        </div>
        <div class="form-group" style="margin-top:30px;margin-bottom:30px">
            <div class="col-md-2"></div>
            <button id="search_btn" type="button" class="btn btn-primary">搜尋</button>
            <input type="button" value="新增" class="btn btn-default" onclick="location.href='/Main/InsertBook'">
            <input type="button" value=" 清除" class="btn btn-default" onclick="location.href='/Main/Index'">
        </div>
        <div id="book_grid"></div>
        <div class="uk-card  uk-text-left" id="record_window" style="display:none">
            <div id="record_grid"></div>
        </div>
        </div>
</body>
<script>
    $(function() {
        $.ajax({
            type: "POST",
            url: "/Main/DropDownList",
            data: {"type":"class"},
            dataType: "json",
        }).done(function (data) {
            $("#book_class").kendoDropDownList({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: data,
                index: 0
            });
            })

        $.ajax({
            type: "POST",
            url: "/Main/DropDownList",
            data: { "type": "keeper" },
            dataType: "json",
        }).done(function (data) {
            $("#book_keeper").kendoDropDownList({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: data,
                index: 0
            });
            })
        $.ajax({
            type: "POST",
            url: "/Main/DropDownList",
            data: { "type": "status" },
            dataType: "json",
        }).done(function (data) {
            $("#book_status").kendoDropDownList({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: data,
                index: 0
            });
            })
        $("#book_name").kendoMaskedTextBox();
    })
    $("#bought_datepicker").kendoDatePicker({ format: "yyyy/MM/dd"});
    $("#record_window").kendoWindow({
        title: "借閱紀錄",
        width: "50%",
        visible: false,
        modal: true,
        action: ["Close"]
    });
    $("#search_btn").click(function () {
        var data = {
            "BookName": $('#book_name').val(),
            "BookClassId": $('#book_class').val(),
            "BookKeeper": $('#book_keeper').val(),
            "BookStatus": $('#book_status').val()
        };
        $("#book_grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        url: "/Main/BookGrid",
                        dataType: "json",
                        data: data
                    }
                },
                schema: {
                    model: {
                        fields: {
                            BookClass: { type: "string" },
                            BookId: {type:"int"},
                            BookName: { type: "string" },
                            BoughtDate: { type: "string" },
                            BookStatus: { type: "string" },
                            BookKeeper: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
            },
            height: 550,
            sortable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                { field: "BookClass", title: "書籍種類", width: "15%" },
                { field: "BookName", title: "書籍名稱", width: "30%" },
                { field: "BoughtDate", title: "購買日期", width: "10%" },
                { field: "BookStatus", title: "書籍狀態", width: "10%" },
                { field: "BookKeeper", title: "借閱人", width: "9%" },
                { command: { text: "編輯", click: editBook }, title: " ", width: "50px" },
                { command: { text: "借閱紀錄", click: lendRecord }, title: " ", width: "60px" },
                { command: { text: "刪除", click: deleteBook }, title: " ", width: "60px" }
            ]

        });
    });
    function editBook(e) {
    }
        function lendRecord(e) {
        e.preventDefault();
        var id = this.dataItem($(e.currentTarget).closest("tr")).BookId;
        $("#record_grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        url: "/Main/LendRecord",
                        dataType: "json",
                        data: { "bookId": id }
                    }
                },
                schema: {
                    model: {
                        fields: {
                            LendDate: { type: "string" },
                            KeeperId: { type: "string" },
                            KeeperEname: { type: "string" },
                            KeeperCname: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
            },
            height: 550,
            sortable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                { field: "LendDate", title: "借閱日期", width: "30%" },
                { field: "KeeperId", title: "借閱人編號", width: "20%" },
                { field: "KeeperEname", title: "英文姓名", width: "25%" },
                { field: "KeeperCname", title: "中文姓名", width: "25%" }
            ]

        });

        $('#record_window').data("kendoWindow").center().open();
    }
        function deleteBook(e) {
        e.preventDefault();
        var id = this.dataItem($(e.currentTarget).closest("tr")).BookId;
       // console.log(id);
        if (confirm("確定嗎??") == true) {
            $.ajax({
                type: "POST",
                url: "/Main/DeleteBook",
                data: {"bookId":id},
                dataType: "json",
            }).done(function (e) {
                if (e == true) $("#book_grid").data("kendoGrid").dataSource.read();
            })
            
        } else { }
        return false;}
</script>