
@{
    ViewBag.Title = "Index";
}

<h2>SearchBook</h2>
<body>
    <div class="form-horizontal">

        <div class="form-group" style="margin-bottom:20px;margin-top:20px">
            <label class="col-md-2 control-label">書籍名稱</label>
            <div class="col-md-10">
                <input id="book_name" class="form-control" />
            </div>
        </div>

        <div class="form-group" style="margin-bottom:20px">

            <label class="col-md-2 control-label">書籍類別</label>
            <div class="col-md-10">
                <select id="book_class" class=" form-control book-class"></select>
            </div>
        </div>

        <div class="form-group" style="margin-bottom:20px">

            <label class="col-md-2 control-label">借閱人</label>
            <div class="col-md-10">
                <select id="book_keeper" class="form-control book-keeper"></select>
            </div>
        </div>

        <div class="form-group" style="margin-bottom:20px">
            <label class="col-md-2 control-label">書籍狀態</label>
            <div class="col-md-10">
                <select id="book_status" class="form-control book-status"></select>
            </div>
        </div>
        <div class="form-group" style="margin-top:30px;margin-bottom:30px">
            <div class="col-md-2"></div>
            <button id="search_btn" type="button" class="btn btn-primary">搜尋</button>
            <input type="button" value="新增" class="btn btn-default" onclick="location.href='/Main/InsertBook'">
            <input type="button" value=" 清除" class="btn btn-default" onclick="location.href='/Main/Index'">
        </div>



        <div id="book_grid"></div>


        <div class="uk-card  uk-text-left" id="record_window" style="display:none">
            <div id="record_grid"></div>
        </div>


        <div class="uk-card  uk-text-left" id="edit_window" style="display:none">
            <div class="form-horizontal" style="margin:30px">

                <div class="form-group" style="margin-bottom:20px;margin-top:20px">
                    <h4>書籍名稱</h4>
                    <div class="col-md-10">
                        <input id="ed_book_name" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="margin-bottom:20px">
                    <h4>作者</h4>
                    <div class="col-md-10">
                        <input id="ed_book_author" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="margin-bottom:20px">
                    <h4>出版商</h4>
                    <div class="col-sm-10">
                        <input id="ed_book_publisher" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="margin-bottom:20px">
                    <h4>內容簡介</h4>
                    <div class="col-md-10">
                        <textarea id="ed_book_note" class="col-md-3"></textarea>
                    </div>
                </div>


                <div class="form-group" style="margin-bottom:20px">
                    <h4>購書日期</h4>
                    <div class="col-md-3">
                        <input id="ed_bought_datepicker" value="10/10/2011" title="datepicker" style="width: 100%" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:20px">

                    <h4>書籍類別</h4>
                    <div class="col-md-10">
                        <select id="ed_book_class" class=" form-control book-class"></select>
                    </div>
                </div>

                <div class="form-group" id="edit_keeper" style="margin-bottom:20px">

                    <h4>借閱人</h4>
                    <div class="col-md-10">
                        <select id="ed_book_keeper" class="form-control book-keeper"></select>
                    </div>
                </div>

                <div class="form-group" style="margin-bottom:20px">
                    <h4>借閱狀態</h4>
                    <div class="col-md-10">
                        <select id="ed_book_status" class="form-control book-status"></select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:30px;margin-bottom:30px; float:right">
                    <div class="col-md-8"></div>
                    <button id="delete_edit_btn" type="button" class="btn btn-danger">刪除</button>
                    <button id="save_edit_btn" type="button" class="btn btn-primary">存檔</button>
                </div>
            </div>
        </div>


    </div>
</body>
<script>
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Main/DropDownList",
            data: { "type": "class" },
            dataType: "json",
        }).done(function (data) {
            $(".book-class").kendoDropDownList({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: data,
                index: 0
            });
        })

        $.ajax({
            type: "POST",
            url: "/Main/DropDownList",
            data: { "type": "keeper" },
            dataType: "json",
        }).done(function (data) {
            $(".book-keeper").kendoDropDownList({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: data,
                index: 0
            });
        })
        $.ajax({
            type: "POST",
            url: "/Main/DropDownList",
            data: { "type": "status" },
            dataType: "json",
        }).done(function (data) {
            $(".book-status").kendoDropDownList({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: data,
                index: 0
            });
        })
        $("#book_name").kendoMaskedTextBox();

        $("#bought_datepicker").kendoDatePicker({ format: "yyyy/MM/dd" });
        $("#ed_bought_datepicker").kendoDatePicker({ format: "yyyy/MM/dd" });
        $("#record_window").kendoWindow({
            title: "借閱紀錄",
            width: "50%",
            visible: false,
            modal: true,
            action: ["Close"]
        });
        $("#edit_window").kendoWindow({
            title: "編輯",
            width: "35%",
            visible: false,
            modal: true,
            action: ["Close"]
        });
    })
   
    $("#search_btn").click(function () {
        var data = {
            "BookName": $('#book_name').val(),
            "BookClassId": $('#book_class').val(),
            "BookKeeperId": $('#book_keeper').val(),
            "BookStatusId": $('#book_status').val()
        };
        $("#book_grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        url: "/Main/BookGrid",
                        dataType: "json",
                        data: data
                    }
                },
                schema: {
                    model: {
                        fields: {
                            BookClass: { type: "string" },
                            BookId: { type: "int" },
                            BookName: { type: "string" },
                            BoughtDate: { type: "string" },
                            BookStatus: { type: "string" },
                            BookKeeper: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
            },
            height: 550,
            sortable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                { field: "BookClass", title: "書籍種類", width: "15%" },
                { field: "BookName", title: "書籍名稱", width: "30%" },
                { field: "BoughtDate", title: "購買日期", width: "10%" },
                { field: "BookStatus", title: "書籍狀態", width: "10%" },
                { field: "BookKeeper", title: "借閱人", width: "9%" },
                { command: { text: "借閱紀錄", click: lendRecord }, title: " ", width: "60px" },
                { command: { text: "編輯", click: editBook }, title: " ", width: "60px" },
                { command: { text: "刪除", click: deleteBook }, title: " ", width: "60px" }
            ]

        });
    });


    function editBook(e) {
        e.preventDefault();
        var id = this.dataItem($(e.currentTarget).closest("tr")).BookId;
        $.ajax({
            type: "POST",
            url: "/Main/EditGetData",
            data: { "bookId": id },
            dataType: "json",
        }).done(function (data) {
            $("#ed_book_name").val(htmldecode(data.BookName));
            $("#ed_book_author").val(htmldecode(data.BookAuthor));
            $("#ed_book_publisher").val(htmldecode(data.BookPublisher));
            $("#ed_book_note").val(htmldecode(data.BookNote));
            $("#ed_bought_datepicker").data('kendoDatePicker').value(data.BoughtDate);
            $("#ed_book_class").data('kendoDropDownList').value(data.BookClassId);
            $("#ed_book_status").data('kendoDropDownList').value(data.BookStatusId);
            $("#ed_book_keeper").data('kendoDropDownList').value(data.BookKeeperId);
            var originStatus = data.BookStatusId;
            if (originStatus == "U" || originStatus == "A") {
                $("#ed_book_keeper").data('kendoDropDownList').value("");
                $("#ed_book_keeper").kendoDropDownList({
                    enable: false
                });
            } else {
                $("#ed_book_keeper").kendoDropDownList({
                    enable: true
                });
                
            }
            })
       
        $("#ed_book_status").change(function () {
            var tmp = $("#ed_book_status").val();
            console.log(tmp);
            if (tmp == "A") {
                console.log('its work!!');
                $("#ed_book_keeper").kendoDropDownList({
                    enable: true
                });
                $("#ed_book_keeper").data('kendoDropDownList').value("");
                }
            })
        $("#edit_window").data("kendoWindow").center().open();
       
       
        $("#save_edit_btn").unbind('click');
        $("#save_edit_btn").click(function () {
            /*var bookname = htmlencode($("#ed_book_name").val()).toString();
            var bookauthor = htmlenencode($("#ed_book_author").val()).toString();
            var bookpublisher = htmlenencode($("#ed_book_publisher").val()).toString();
            var booknote = htmlenencode($("#ed_book_note").val()).toString();*/

            //debugger;
            var data = {
                "BookId": id,
                "BookName": htmlencode($("#ed_book_name").val()),
                "BookAuthor": htmlencode($("#ed_book_author").val()),
                "BookPublisher": htmlencode($("#ed_book_publisher").val()),
                "BookNote": htmlencode($("#ed_book_note").val()),
                "BoughtDate": $("#ed_bought_datepicker").val(),
                "BookClassId": $("#ed_book_class").val(),
                "BookStatusId": $("#ed_book_status").val(),
                "BookKeeperId": $("#ed_book_keeper").val()
            };
                $.ajax({
                    type: "POST",
                    url: "/Main/UpdateData",
                    data: data,
                    dataType: "json",
                }).done(function (data) {
                    $("#book_grid").data("kendoGrid").dataSource.read();
                    $("#edit_window").data("kendoWindow").close();
                }
                    )
            
        }
        )

        $("#delete_edit_btn").unbind('click');
        $("#delete_edit_btn").click(function () {
            if (confirm("確定嗎??") == true) {
                $.ajax({
                    type: "POST",
                    url: "/Main/DeleteBook",
                    data: { "bookId": id },
                    dataType: "json",
                }).done(function (e) {
                    if (e == true) {
                        $("#book_grid").data("kendoGrid").dataSource.read();
                        $("#edit_window").data("kendoWindow").close();
                    }
                        
                    })
                alert("delete success");

            } else { }
            return false;
        }
        )
    }





    function lendRecord(e) {
        e.preventDefault();
        var id = this.dataItem($(e.currentTarget).closest("tr")).BookId;
        $("#record_grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        method: "post",
                        url: "/Main/LendRecord",
                        dataType: "json",
                        data: { "bookId": id }
                    }
                },
                schema: {
                    model: {
                        fields: {
                            LendDate: { type: "string" },
                            KeeperId: { type: "string" },
                            KeeperEname: { type: "string" },
                            KeeperCname: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
            },
            height: 550,
            sortable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                { field: "LendDate", title: "借閱日期", width: "30%" },
                { field: "KeeperId", title: "借閱人編號", width: "20%" },
                { field: "UserEname", title: "英文姓名", width: "25%" },
                { field: "UserCname", title: "中文姓名", width: "25%" }
            ]

        });

        $('#record_window').data("kendoWindow").center().open();
    }
    function deleteBook(e) {
        e.preventDefault();
        var id = this.dataItem($(e.currentTarget).closest("tr")).BookId;
        // console.log(id);
        if (confirm("確定嗎??") == true) {
            $.ajax({
                type: "POST",
                url: "/Main/DeleteBook",
                data: { "bookId": id },
                dataType: "json",
            }).done(function (e) {
                if (e == true) $("#book_grid").data("kendoGrid").dataSource.read();
            })

        } else { }
        return false;
    }

    //html encode 、decode

    function htmlencode(s) {
        var div = document.createElement('div');
        div.appendChild(document.createTextNode(s));
        return div.innerHTML;
    }
    function htmldecode(s) {
        var div = document.createElement('div');
        div.innerHTML = s;
        return div.innerText || div.textContent;
    }
</script>